.contacts__text{
    margin: 0;
    padding: 0;
    color: #3D3D3D;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
}
@media screen and (max-width: 500px) {
    .contacts__text{
        font-size: 13px;
        line-height: 25px;
    }
    
}