
.skills__icon{
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px #FBD144 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px  #FBD144 ;
    animation: border 5s infinite;
}

@media screen and (max-width: 600px) {
    .skills__icon{
        width: 65px;
        height: 65px;
    }
    
}